$whiteColor: #f9f9f9;
$headerTextColor: #606060;
$blackColor: #141416;

* {
  margin: 0;
  padding: 0;
  //box-sizing: border-box;
}

html {
  background-color: $whiteColor;
}


.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 32px;
}



.header {
  display: flex;
  background-color: $whiteColor;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  &__section {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: auto;
    flex: 1;

    &:last-of-type {
      gap: 20px;
      justify-content: flex-end;
      align-items: center;
    }

    .button {
      padding: 16px;
    }
  }

  &__nav {
    display: flex;
    gap: 50px;
    list-style-type: none;
    color: $headerTextColor;
    font-size: 18px;
    text-transform: uppercase;
    flex: 2;
    justify-content: flex-start;


    &-item {
      cursor: pointer;
    }
  }

  &__search {
    border-radius: 15px;
    background-color: #EDEDED;
    border: none;
    width: calc(100% / (1440 / 2) * 348);
    height: 100%;
    font-family: "Poppins", sans-serif;
    text-align: center;

    &::placeholder {
      color: #C2C3CB;
      text-align: center;
      font-size: 16px;
    }
  }
}

.button {
  background-color: $blackColor;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 16px;
  height: 100%;
  border: none;
  cursor: pointer;
}

.button-white {
  @extend .button;
  background-color: $whiteColor;
  border: 2px solid black;
  border-radius: 12px;
  color: black;
}


.big-text {
  font-size: 72px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.medium-text {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: #676767;
}

.medium-big-text {
  font-size: 36px;
  font-weight: 600;
  color: $blackColor;
  font-family: "Public Sans", sans-serif;
}

.small-text {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  color: #848586;
  font-weight: 500;
}


b {
  color: $blackColor;
  font-weight: 600;
}

.about-section {
  display: flex;
  margin-left: 30px;
  background-color: $whiteColor;
  margin-top: 70px;

  &__line {
    background-color: lightgray;
    width: 200px;
    height: 2px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 50px;
    width: 50%;
  }

  &__image img {
    max-width: 100%;
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 23px;
    height: 9%;

    .button {
      border-radius: 12px;
      grid-column: auto / span 3;
      width: auto;
    }

    .button-white {
      grid-column: auto / span 2;
    }
  }

  &__numbers {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 50px;
  }
}

.weekly-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F1F1F1;
  font-weight: 600;
  gap: 80px;
  padding-bottom: 100px;

  &__title {
    color: #C5C5C5;
    font-size: 45px;
    font-family: "Poppins", sans-serif;
    margin-top: 35px;
  }

}

.nft-cards {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  &__item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    border-radius: 23px;
    justify-content: space-between;
    gap: 10px;
    box-shadow: 38.9404px 11.8001px 59.0006px rgba(199, 199, 199, 0.6);

    &__timer {
      position: absolute;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      font-weight: 500;
      background-color: rgba(28, 29, 32, 0.35);
      padding: 9px 14px;
      border-radius: 9px;
      backdrop-filter: blur(3px);
      -webkit-backdrop-filter: blur(3px);
      border: 1px solid rgba(28, 29, 32, 0.09);
      left: 50%;
      top: 5%;
      color: white;
    }

    &__title {
      font-family: "Poppins", sans-serif;
      font-size: 21px;
      font-weight: 600;
    }


    &__price-and-button {
      font-family: "Poppins", sans-serif;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      align-items: center;

      &__price {
        display: flex;
        align-items: center;
      }

      &__current-bid {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;

        &__text {
          font-family: "Poppins", sans-serif;
          font-size: 14px;
          color: #94A3B8;
          font-weight: 400;
        }


      }


      .button {
        width: auto;
        grid-column: 2;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}

.relative {
  position: relative;
}

.big-title {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: 600;
  margin-top: 70px;
}

.collection-section {
  font-family: "Poppins", sans-serif;
  display: flex;
  gap: 65px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__table {
    width: 95%;
    border-collapse: collapse;
    &__header {
      text-align: left;
      &-item {
        color: #93989A;
        border-bottom: 30px solid transparent;
        font-size: 20px;
        font-weight: 500;

        &__collection{
          width: 25%;
        }
      }
    }

    &__body{
     &-row{
       border-bottom: 1px solid lightgrey;
     }

      &-cell{
        padding-bottom: 20px;
        padding-top: 30px;
        &__title{
          color: $blackColor;
          font-size: 22px;
          font-weight: 500;
        }

        &__subtitle{
          color: #64748B;
          font-size: 17px;
          font-weight: 500;
        }

        &__volume {
          font-size: 22px;
          font-weight: 600;
          color: $blackColor;
        }

        &__24h {
          color: #10C352;
          font-size: 22px;
          font-weight: 500;
        }

        &__floor-price {
          font-size: 22px;
          font-weight: 600;
        }

        &__numbers {
          font-size: 21px;
          font-weight: 500;
          color: $blackColor;
        }
      }
    }
  }
}


.explore-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;

  &__filters {
    display: flex;
    gap: 20px;

    .button {
      padding: 14px 18px;
      border-radius: 13px;
      display: flex;
      align-items: center;
      gap: 5px;
      font-family: "Manrope", sans-serif;
      font-weight: 600;
    }
  }

  .nft-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 65px;
  }
}

.align-center {
  display: flex;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.gap{
  display: flex;
  &-20{
    gap: 20px;
  }

  &-15 {
    gap: 15px;
  }

  &-10 {
    gap: 10px;
  }
}

.text-right {
  text-align: right;
}

.explore-all {
  margin-left: auto;
  margin-right: 0;
  color: #ACADB9;
  font-size: 17px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}